<!DOCTYPE html>
<html lang="pt-br">

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#9027b0" /> 

    <title>OLX - Landing Page Guilherme Borzoni</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="http://static.bn-static.com/img-46872/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/build/arquivos/olx-style-landing-page.css">
</head>

<body class="landing-page">
    <div class="all">
        <!-- HEADER -->
        <header class="pageHeader">
            <div class="wrapper">
                <div class="menu-mobile-toggle">
                    <i class="ico-menu"></i>
                </div>
                <div class="logo">
                    <a href="/" title="OLX - Landing page" class="logoImg"><img src="../assets//build/arquivos/logo-olx.png" alt="Desapega, desapenga, OLX"></a>
                </div>
                <div class="mainMenu">
                    <div class="navOverlay"></div>
                    <nav class="pageNav">
                        <div class="navHead">
                            <span>Menu</span>
                            <i class="ico-close"></i>
                        </div>
                        <ul>
                            <li><a href="/" title="Tudo sobre a OLX">Tudo sobre a OLX</a></li>
                            <li><a href="/" title="Para Você">Para Você</a></li>
                            <li><a href="/" title="Para o seu Negócio">Para o seu Negócio</a></li>
                            <li><a href="/" title="Trabalhe na OLX">Trabalhe na OLX</a></li>
                            <li><a href="/" title="Ajuda">Ajuda</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="userOptions">
                    <ul>
                        <li><a href="/" title="Anunciar">Anunciar</a></li>
                        <li><a href="/" title="Comprar">Comprar</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- HEADER -->
        
        <div id="mainContent">
            <div class="top-fullBanner">
                <div class="box-banner">
                    <h1>Publicidade</h1>                    
                </div>
            </div>

            <div class="wrapper">
                <section class="section aboutOLX">
                    <h2 class="sectionTitle">
                        Por que anunciar na OLX?<br/>
                        A maior vitrine para seus produtos e serviços
                    </h2>
                    <div class="iconMosaic">
                        <div class="mosaicItem">
                            <i class="ico-ranking"></i>
                            <span>Líder absoluto em classificados <br/>online no Brasil</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-hand-click"></i>
                            <span>A maior vitrine para seus produtos e serviços</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-talk"></i>
                            <span>Na OLX sua marca fala com <br/>quem já quer comprar</span>
                        </div>
                    
                        <div class="mosaicItem">
                            <i class="ico-public"></i>
                            <span>1 a cada 4 internautas brasileiros, está na OLX</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-chart"></i>
                            <span>Mais de 100 milhões de buscas por <br/>produtos todo mês</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-grafic"></i>
                            <span>Segundo maior tempo médio por <br/>visita na web (Brasil)</span>
                        </div>
                    </div>
                </section>

                <section class="section ourProfile">
                    <h2 class="sectionTitle">
                        Perfil de audiência
                    </h2>
                    <div class="iconMosaic reverse">
                        <div class="mosaicItem">
                            <i class="ico-cars"></i>
                            <span>10 Milhões de usuários estão <br/>buscando um novo automóvel</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-eletronics"></i>
                            <span>4,5 Milhões querem um eletrônico</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-clothes"></i>
                            <span>2,5 Milhões querem comprar produtos <br/>de moda e beleza</span>
                        </div>
                    
                        <div class="mosaicItem">
                            <i class="ico-realty"></i>
                            <span>5,9 Milhões de pessoas querem <br/>comprar um imóvel</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-home-appliances"></i>
                            <span>1,9 Milhões um novo eletrodoméstico</span>
                        </div>
                        <div class="mosaicItem">
                            <i class="ico-fitment"></i>
                            <span>3,9 Milhões de pessoas desejam <br/>renovar seus itens de casa</span>
                        </div>
                    </div>
                </section>

                <section class="section businessOLX">
                    <h2 class="sectionTitle">Formatos comerciais OLX
                        <span>Aqui você encontra os formatos publicitários disponíveis e as informações necessárias para a criação, produção e <br/> veiculação na OLX.</span>
                    </h2>
                    <div class="businessPlans">
                        <div class="plan">
                            <h3>Mídia Kits</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod <br/>iaculis tortor ut fringilla. Nulla aliquet ut eros non vehicula.</span>
                            <a href="/" title="Download">Download</a>
                        </div>
                        <div class="plan">
                            <h3>Formatos Publicitários</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod <br/>iaculis tortor ut fringilla. Nulla aliquet ut eros non vehicula.</span>
                            <a href="/" title="Download">Download</a>
                        </div>
                    </div>
                    <div class="businessText">
                        Oferecemos diversas possibilidades de segmentação de público! <br/>
                        Fale com o nosso time comercial pelo e-mail <strong>publicidade@olxbr.com</strong>
                    </div>
                </section>

                <section class="section partnersOLX">
                    <h4 class="subTitle">Parceiros estratégicos:</h4>
                    <div class="box-banner"><img src="../assets/build/arquivos/iab.jpg" alt=""></div>
                    <div class="box-banner"><img src="../assets/build/arquivos/aba.jpg" alt=""></div>
                    <div class="box-banner"><img src="../assets/build/arquivos/mma.jpg" alt=""></div>
                </section>
    		</div><!-- /wrapper -->
        </div><!-- /mainContent-->

        <!-- FOOTER -->
        <footer class="pageFooter">
            <div class="topFooter">
                <div class="wrapper">
                    <div class="socialMedia-list">
                        <ul class="lineList">
                            <li class="text">OLX nas redes sociais</li>
                            <li><a href="/" title="OLX - facebook"><i class="ico-facebook"></i></a></li>
                            <li><a href="/" title="OLX - youtube"><i class="ico-youtube"></i></a></li>
                            <li><a href="/" title="OLX - google plus"><i class="ico-gplus"></i></a></li>
                            <li><a href="/" title="OLX - twitter"><i class="ico-twitter"></i></a></li>
                            <li><a href="/" title="OLX - instagram"><i class="ico-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="mobileApp-list">
                        <ul class="lineList">
                            <li class="text">Baixe nosso app</li>
                            <li><a href="/" title="OLX - Apple Store"><i class="ico-apple"></i></a></li>
                            <li><a href="/" title="OLX - Play Store"><i class="ico-android"></i></a></li>
                        </ul>
                    </div>
                    <div class="userOptions">
                        <ul>
                            <li><a href="/" title="Anunciar">Anunciar</a></li>
                            <li><a href="/" title="Comprar">Comprar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainFooter"> 
                <div class="wrapper">
                    <div class="footerLinks">
                        <div class="olxCol footerItem toggle">
                            <h3>A OLX <i class="ico-arrow"></i></h3>
                            <div class="itemContent">
                                <ul>
                                    <li><a href="/" title="Quem Somos">Quem Somos</a></li>
                                    <li><a href="/" title="OLX em números">OLX em números</a></li>
                                    <li><a href="/" title="Marketing">Marketing</a></li>
                                    <li><a href="/" title="Responsabilidade Social">Responsabilidade Social</a></li>
                                    <li><a href="/" title="Novidades OLX">Novidades OLX</a></li>
                                    <li><a href="/" title="Sustentabilidade">Sustentabilidade</a></li>
                                    <li><a href="/" title="Trabalhe na OLX">Trabalhe na OLX</a></li>
                                    <li><a href="/" title="Desapega!">Desapega!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="announceCol footerItem toggle">
                            <h3>Anuncie <i class="ico-arrow"></i></h3>
                            <div class="itemContent">
                                <ul>
                                    <li><a href="/" title="Geral sobre o Marketplace">Geral sobre o Marketplace</a></li>
                                    <li><a href="/" title="Como vender">Como vender</a></li>
                                    <li><a href="/" title="Como comprar">Como comprar</a></li>
                                    <li><a href="/" title="Anúncios pagos">Anúncios pagos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="businessCol footerItem toggle">
                            <h3>Para seu negócio <i class="ico-arrow"></i></h3>
                            <div class="itemContent">
                                <ul>
                                    <li><a href="/" title="Venda de carros">Venda de carros</a></li>
                                    <li><a href="/" title="Venda de imóveis">Venda de imóveis</a></li>
                                    <li><a href="/" title="Inteligência de dados">Inteligência de dados</a></li>
                                    <li><a href="/" title="Pesquisas com consumidor">Pesquisas com consumidor</a></li>
                                    <li><a href="/" title="Publicidade">Publicidade</a></li>                            
                                </ul>
                            </div>
                        </div>
                        <div class="contactCol footerItem toggle">
                            <h3>Entre em contato <i class="ico-arrow"></i></h3>
                            <div class="itemContent">
                                <ul>
                                    <li><a href="/" title="Central de atendimento">Central de atendimento</a></li>
                                    <li><a href="/" title="Viciados em OLX">Viciados em OLX</a></li>
                                    <li><a href="/" title="Sala de imprensa">Sala de imprensa</a></li>
                                    <li><a href="/" title="Infográficos">Infográficos</a></li>
                                    <li><a href="/" title="Patrocínios">Patrocínios</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomFooter">
                <div class="footerFaq">
                    <div class="wrapper">
                        <ul>
                            <li><a href="/" title="Regras">Regras</a></li>
                            <li><a href="/" title="Termos de uso">Termos de uso</a></li>
                            <li><a href="/" title="Termos de uso do chat">Termos de uso do chat</a></li>
                            <li><a href="/" title="Política de privacidade">Política de privacidade</a></li>
                            <li><a href="/" title="Produtos e Serviços Proibidos na OLX">Produtos e Serviços Proibidos na OLX</a></li>
                            <li><a href="/" title="Proteção à Propriedade Intelectual">Proteção à Propriedade Intelectual</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <div class="wrapper">
                        <span>© Bom Negócio Atividades de Internet Ltda. </span>
                        <address>Rua Professor Álvaro Rodrigues, 352 - 8º andar - Botafogo - CEP 22.280-040 - Rio de Janeiro / RJ</address>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->

    </div><!--/all-->
    
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../assets/build/arquivos/olx-script-landing-page.min.js"></script>
</body>
</html>